<% @header_title = "CommitMiner User Study: #{@name}" %>
<% @container_class = 'container-fluid' %>

<% content_for :js_code do %>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<% end %>

<!--
<%= session.inspect.html_safe %>
-->

<div class="row well full-height" data-step="1" data-intro="Pair of commits to be evaluated." data-position='bottom-middle-aligned'>
    <div class="col-md-6 full-height">
        <iframe src="<%= @commit1 %>"></iframe>
    </div>

    <div class="col-md-6 full-height">
        <iframe src="<%= @commit2 %>"></iframe>
    </div>
</div>

<% form_tag url_for(:evaluations, :create), method: :post, id: 'evaluation-form', 'data-step': 6, 'data-position': 'bottom-middle-aligned', 'data-intro': 'The evaluation is automatically submitted once you select an answer from each dimension.' do %>

    <div class="row well align-center" data-step='2' data-intro="Root cause similarity.">
        <%= content_tag(:i, nil, :class => 'fa fa-bug fa-3x category', title: 'Root Cause Similarity') %>

        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default unkown" title="I don't know enough to answer this" data-step='4' data-intro="Option: 'I don't know enough to answer this'.">
                <input type="radio" name="bug-similarity" id="bug-0" autocomplete="off" value="0">
                <%= content_tag(:i, nil, :class => 'fa fa-question-circle fa-3x') %>
            </label>
        </div>

        <div class="btn-group" data-toggle="buttons" data-step="5" data-intro="Options (from left to right): 'very dissimilar', 'somehow dissimilar', 'somehow similar', 'very similar'. Values are also shown as a tooltip in each button.">
            <label class="btn btn-default" title="Very dissimilar">
                <input type="radio" name="bug-similarity" id="bug-m2" autocomplete="off" value="-2">
                <%= content_tag(:i, nil, :class => 'fa fa-minus-circle fa-3x') %>
                <%= content_tag(:i, nil, :class => 'fa fa-minus-circle fa-3x') %>
            </label>
            <label class="btn btn-default" title="Somehow dissimilar">
                <input type="radio" name="bug-similarity" id="bug-m1" autocomplete="off" value="-1">
                <%= content_tag(:i, nil, :class => 'fa fa-minus-circle fa-3x') %>
            </label>
            <label class="btn btn-default" title="Somehow similar">
                <input type="radio" name="bug-similarity" id="bug+p1" autocomplete="off" value="1">
                <%= content_tag(:i, nil, :class => 'fa fa-plus-circle fa-3x') %>
            </label>
            <label class="btn btn-default" title="Very similar">
                <input type="radio" name="bug-similarity" id="bug+p2" autocomplete="off" value="2">
                <%= content_tag(:i, nil, :class => 'fa fa-plus-circle fa-3x') %>
                <%= content_tag(:i, nil, :class => 'fa fa-plus-circle fa-3x') %>
            </label>
        </div>
    </div>

    <div class="row well align-center" data-step='3' data-intro="Repair solution similarity." data-position="top">
        <%= content_tag(:i, nil, :class => 'fa fa-wrench fa-3x category', title: 'Repair Similarity') %>

        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default unkown"  title="I don’t know enough to answer this">
                <input type="radio" name="repair-similarity" id="repair-0" autocomplete="off" value="0">
                <%= content_tag(:i, nil, :class => 'fa fa-question-circle fa-3x') %>
            </label>
            <label class="btn btn-default" title="Very dissimilar">
                <input type="radio" name="repair-similarity" id="repair-m2" autocomplete="off" value="-2">
                <%= content_tag(:i, nil, :class => 'fa fa-minus-circle fa-3x') %>
                <%= content_tag(:i, nil, :class => 'fa fa-minus-circle fa-3x') %>
            </label>
            <label class="btn btn-default" title="Somehow dissimilar">
                <input type="radio" name="repair-similarity" id="repair-m1" autocomplete="off" value="-1">
                <%= content_tag(:i, nil, :class => 'fa fa-minus-circle fa-3x') %>
            </label>
            <label class="btn btn-default" title="Somehow similar">
                <input type="radio" name="repair-similarity" id="repair-p1" autocomplete="off" value="1">
                <%= content_tag(:i, nil, :class => 'fa fa-plus-circle fa-3x') %>
            </label>
            <label class="btn btn-default" title="Very similar">
                <input type="radio" name="repair-similarity" id="repair-p2" autocomplete="off" value="2">
                <%= content_tag(:i, nil, :class => 'fa fa-plus-circle fa-3x') %>
                <%= content_tag(:i, nil, :class => 'fa fa-plus-circle fa-3x') %>
            </label>
        </div>
    </div>
<% end %>


<div class="row well align-center" data-step="7" data-intro="Progress bar." data-position="top">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= @progress %>%;"></div>
        </div>
    </div>
</div>

<% content_for :js_code do %>
    <script>
        $(document).ready(function() {
            var shownIntro = 0;

            $('iframe').on('load', function() {
                $('iframe').contents().find('.header, .pagehead.repohead, ' +
                        '.commit.full-commit, .site-footer-container, .file-info, #toc, #all_commit_comments').hide();

                $('iframe').contents().find('body.split-diff .container').css('padding-left', '0px');

                // introJS has to be initialized after iframes has loaded, but just once
                if ($.urlParam('intro') === '1' && shownIntro == 0) {
                    introJs().oncomplete(function() {
                        $('html, body').animate({
                            scrollTop: 0
                        }, 1000);
                    }).setOption('showProgress', true).setOption('showStepNumbers', false).start();

                    $('html, body').animate({
                        scrollTop: $(".introjs-tooltip").offset().top - 400
                    }, 1000);

                    shownIntro = 1;
                }
            });

            $('iframe').trigger('load');

            // When buttons are clicked
            $('#evaluation-form').on('change', function() {
               // Check if both groups are filled
                var group1 = $('input[name=bug-similarity]:checked', '#evaluation-form').val();
                var group2 = $('input[name=repair-similarity]:checked', '#evaluation-form').val();

                // Submit form
                if (group1 && group2) {
                    $('#evaluation-form').submit();
                }
            });
        });
    </script>
<% end %>

<style>
    html, body, .container-fluid, .full-height {
        height: 100%;
    }

    iframe {
        height: 100%;
        width: 100%;
        border: 1px dashed gray;
    }

    .align-center {
        text-align: center;
    }

    .unkown { margin-right: 50px; }
    .btn { width: 100px; }

    .fa.category {
        vertical-align: middle;
        margin-right: 50px;
    }

    .btn.active {
        border: 2px dashed gray;
    }
</style>