<% content_for :css_tags do %>
    <%= stylesheet_link_tag 'jumbotron-narrow' %>
<% end %>

<% content_for :js_code do %>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<% end %>

<% if session[:name] %>
    <div class="alert alert-warning" role="alert">There is already an experiment session started
        by <strong><%= session[:name] %></strong>. <%= link_to 'Click here to resume it', url(:evaluations, :new) %>.
    Starting a new experiment will destroy the current session.</div>
<% end %>

<div class="jumbotron">
    <h1>User Study</h1>
    <p class="lead">The objective of this user study is to evaluate developers' perceptions of defect cause
        similarity and defect repair similarity in software systems.</p>
    <p class="lead">By pressing the button below, you agree with the conditions listed on the bottom of this page.</p>

    <%= link_to 'Start experiment', '#', class: 'btn btn-lg btn-success', 'data-toggle': 'modal', 'data-target': '#modal' %>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Methodology</h4>
        <p>Pairs of commits from open source JavaScript projects are shown. Both commits repair a defect.</p>
        <p>For each pair, the user will evaluate two dimensions: the similarity of the defects' root causes and the
            similarity of the defects' repairs.</p>
        <p>For each dimension, there are five possible answers: 'very dissimilar', 'somewhat dissimilar', 'somewhat similar',
            'very similar' and 'I don’t have enough information’.</p>
    </div>

    <div class="col-lg-6">
        <h4>Duration</h4>
        <p>The expected duration of the experiment is <strong>1 hour</strong>. The ammount of time taken to finish the experiment is
            not considered in the results.</p>

        <p>The user may leave the session at any time by closing the browser. The session may be resumed
            later by navigating back to the project’s home page. Partial results will not
            be included in the research.</p>
    </div>
</div>




<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <% form_tag url_for(:sessions, :create), method: :post do %>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">User details</h4>
                </div>
                <div class="modal-body">
                    <%= label_tag :name %>
                    <%= text_field_tag :name, class: 'form-control', required: true %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <%= submit_tag 'Start', class: 'btn btn-lg btn-success' %>
                </div>
            <% end %>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->